ilb:
  enabled: true
  name: qdrant-ilb
  loadBalancerIP: "10.0.0.50"
  annotations:
    networking.gke.io/load-balancer-type: "Internal"
  # Restrict which IPs can access this Load Balancer, ONLY these ranges can reach Qdrant.
  # loadBalancerSourceRanges:
  #   - "10.0.0.0/8"      # To allow entire subnet, safe for example using workbench notebook
  #   - "172.16.0.0/12"   # Private range often used by GCP services like Vertex AI Pipelines
  #   - "192.168.0.0/16"  # Another common private range used by GCP services

psc:
  enabled: true
  name: qdrant-psc-attachment
  natSubnetName: vectordb-vpc-psc-subnet  # This must match the name of the psc subnet

qdrant:
  fullnameOverride: "qdrant"
  replicaCount: 2

  image:
    repository: qdrant/qdrant
    tag: v1.16.3
    pullPolicy: IfNotPresent

  persistence:
    enabled: true
    accessModes: ["ReadWriteOnce"]
    size: 10Gi
    storageClassName: "standard-rwo"

  resources:
    limits:
      cpu: 2000m
      memory: 4Gi
    requests:
      cpu: 1000m
      memory: 4Gi

  service:
    type: ClusterIP
    port: 6333

  config:
    service:
      enable_tls: false
    cluster:
      enabled: true  # set to false for single-node setup i.e. if you replicaCount is 1
    storage:
      storage_path: /qdrant/storage
      optimizers:
        deleted_threshold: 0.5
        vacuum_min_vector_number: 1500
        default_segment_number: 2
        max_segment_size_kb: null
        memmap_threshold_kb: null
        indexing_threshold_kb: 25000
        flush_interval_sec: 5
        max_optimization_threads: 1

  additionalVolumes:
    - name: qdrant-tls
      secret:
        secretName: qdrant-tls-secret

  additionalVolumeMounts:
    - name: qdrant-tls
      mountPath: /etc/ssl/certs/qdrant
      readOnly: true

  livenessProbe:
    enabled: true
    initialDelaySeconds: 120
    periodSeconds: 10
    timeoutSeconds: 30

  readinessProbe:
    enabled: true
    initialDelaySeconds: 120
    periodSeconds: 10
    timeoutSeconds: 30

  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: "topology.kubernetes.io/zone"
      whenUnsatisfiable: ScheduleAnyway
      labelSelector:
        matchLabels:
          app.kubernetes.io/name: qdrant
          app.kubernetes.io/instance: qdrant  # This must match the Release Name (e.g. 'helm install <release-name> ...')

  podDisruptionBudget:
    enabled: true
    maxUnavailable: 1
